*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

.parent{
    height: 100%;
    width: 100%;

    background-color: lavender;
    display: grid;
    padding: 2rem;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 1rem;
}

.child{
    color: white;
    border: 5px solid black;
    background-color: rgb(135, 39, 224);
    display: flex;
    justify-content: center;
    align-items: center;
}



@media (min-width: 768px) {

.header,
.footer{
    grid-column-start: 1;
    grid-column-end: 4;
}

.sidebar {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 4;
}

.c1 {
    grid-column-start: 2;
    grid-column-end: 4;
}
}